@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .inner {
    padding-left: 16px;
    margin-right: 16px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.section {
  padding: 100px 0 120px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 40px;
}

.header__nav li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
    margin-top: 18px;
  }
}

.main-visual__button {
  margin-top: 36px;
}

@media screen and (max-width: 767px) {
  .main-visual__button {
    margin-top: 28px;
  }
}

.main-visual__button a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 83px;
  line-height: 83px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.card {
  background: #EFEFEF;
  padding: 100px 0 120px;
}

@media screen and (max-width: 767px) {
  .card {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.card__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  width: calc(33.3% - 24px * 2 / 3);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

.card__item:not(:nth-child(3n + 1)) {
  margin-left: 24px;
}

.card__item:nth-child(n + 4) {
  margin-top: 24px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
  margin-top: 14px;
}

.card__text {
  color: #6f7579;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 14px;
}

.news {
  padding: 100px 0 120px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .news {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}

.news__item:not(:first-child) {
  border-top: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news__data {
  width: 105px;
  padding: 3px;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
}

.news__label a.is-blue {
  background: #3F51B5;
}

.news__label a.is-red {
  background: #e81919;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}

.news__title a {
  text-decoration: none;
  line-height: 1.25;
}

@media screen and (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 6px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news__more {
    margin-top: 30px;
  }
}

.news__more a {
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}

.news__more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

.price {
  background: #EFEFEF;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .price__content {
    display: block;
  }
}

.price__image {
  width: 37.83333%;
}

@media screen and (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}

.price__table {
  width: 59%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 24px;
  }
}

.price__attention {
  font-size: 14px;
  margin-top: 10px;
}

.price__attention a {
  font-weight: 700;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.table th {
  background: #999999;
  color: #fff;
  text-align: center;
}

.table th:nth-child(1) {
  width: 172px;
}

.table td {
  text-align: right;
}

.table strong {
  color: #e81919;
  line-height: 1.2;
}

.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
}
