$color-main: #3F51B5;
$color-accent: #E81919;
$color-text:#333333;
$layout-width-inner: 1200px;

//初期値の設定
$breakpoints: (
  'sp': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
  'pc': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font: 16px;
    line-height: 1.6;
    background: #fff;
    color: $color-text;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
}
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;

    @include mq('sp') {
        padding-left: 16px;
        margin-right: 16px;
    }
}

// header

.header {
    background: $color-main;
    height: 100px;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 3px rgba(#000, 0.16);
    z-index: 100;
    top: 0;
    left: 0;

    @include mq('sp'){
        height: 60px;
    }

}

.section {
    padding: 100px 0 120px;

    @include mq('sp'){
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 28px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 60px;
        height: 4px;
        background: $color-main;

    }
}

.header__inner {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__logo {
    width: 205px;

    @include mq('sp'){
        width: 182px;
    }

    img {
        display: block;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    margin: auto;

    @include mq('sp') {
        display: none;
    }


    li {
        &:not(:first-child){
            margin-left: 40px;
        }

        a {
            color: white;
            text-decoration: none;
            position: relative;

            &.is-active {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $color-accent;
                }
            }
        }
    }
}

// main-visual
.main-visual {
    height: 600px;
    width: 100%;
    background: url(../img/mainvisual.png) no-repeat center center / cover;
    position: relative;
    margin-top: 100px;
    @include mq('sp'){
        margin-top: 60px;
        height: 420px;
    }
}

.main-visual__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-visual__title {
    font-size: 64px;
    font-weight: 700;
    @include mq('sp') {
        font-size: 32px;
    }
}

.main-visual__lead {
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;

    @include mq('sp'){
        font-size: 18px;
        margin-top: 18px;
    }

}

.main-visual__button {
    margin-top: 36px;

    @include mq('sp') {
        margin-top: 28px;
    }

    a {
        display: inline-block;
        width: 390px;
        max-width: 100%;
        height: 83px;
        line-height: 83px;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        background: $color-main;
        border-radius: 12px;
        box-shadow: 0 3px 6px rgba(#000, 0.16);
        text-decoration: none;

        @include mq('sp'){
            width: 280px;
            height: 60px;
            line-height: 60px;
            font-size: 24px;
        }
    }

}


// card__section
.card {
    background: #EFEFEF;
    padding: 100px 0 120px;

    @include mq('sp'){
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.card__inner {

}

.card__head {
    
}

.card__items {
   margin-top: 80px;
   display: flex;
   flex-wrap: wrap;
}

.card__item {
    width: calc(33.3% - 24px * 2 / 3);
    background: #fff;
    padding: 16px;
    // margin-top: 19px;
    border-radius: 4px;

    &:not(:nth-child(3n + 1)){
        margin-left: 24px;
    }

    &:nth-child(n + 4) {
        margin-top: 24px;
    }

}

.card__img {
    img {

    }
}

.card__title {
    font-size: 20px;
    font-weight: 700;
    color: #6f7579;
    margin-top: 14px;
}

.card__text {
    color: #6f7579;
    font-weight: 700;
    line-height: (24 / 16);
    margin-top: 14px;
}

.news {
    padding: 100px 0 120px;
    background: #fff;

    @include mq('sp'){
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.news__inner {

}

.news__head {

}

.news__items {
    margin: 80px auto 0;
    width: 800px;
    max-width: 100%;

    @include mq('sp') {
        margin-top: 40px;
    }

}

.news__item {
    display: flex;
    padding: 20px 0 12px;

    &:not(:first-child) {
        border-top: 1px solid #707070;
    }

    @include mq('sp') {
        display: block;
    }
}

.news__meta {
    display: flex;
    width: 185px;
}

.news__data {
    width: 105px;
    padding: 3px;
}

.news__label {
    a {
        display: inline-block;
        width: 80px;
        height: 32px;
        line-height: 32px;
        color: #fff;
        text-align: center;
        background: #666;
        border-radius: 4px;
        font-weight: 700;
        text-decoration: none;

        &.is-blue {
            background: #3F51B5;
        }

        &.is-red {
            background: #e81919;
        }

    }
}

.news__title {
    width: calc(100% - 185px);
    padding-left: 20px;
    padding-top: 3px;

    a {
        text-decoration: none;
        line-height: (20 / 16);
    }
    @include mq('sp'){
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        margin-top: 6px;
    }
}

.news__more {
    margin-top: 60px;
    text-align: center;

    @include mq('sp'){
        margin-top: 30px;
    }
    a {
        text-decoration: none;
        color: #E81919;
        font-weight: 700;
        padding-right: 14px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 7px;
            height: 11px;
            background: url(../img/news-arrow.png) no-repeat center center / contain;
        }
    }
}

.price {
    background: #EFEFEF;
}

.price__inner {

}

.price__head {

}

.price__content {
    display: flex;
    margin-top: 80px;

    @include mq('sp'){
        display: block;
    }
}

.price__image {
    width: 454 / 1200 * 100%;

    @include mq('sp'){
        width: 100%;
    }
    img {

    }
}

.price__table {
    width: (172 + 268 + 268) / 1200 * 100%;
    margin-left: auto;

    @include mq('sp'){
        width: 100%;
        margin-top: 24px;
    }
}

.price__attention {
    font-size: 14px;
    margin-top: 10px;
    a {
        font-weight: 700;
    }
}

.table {
    border-collapse: collapse;
    border: 1px solid #707070;
    background: #fff;
    font-weight: 700;
    width: 100%;
    table-layout: fixed;

    th,
    td {
        border: 1px solid #707070;
        padding: 0 24px;
        height: 58px;
        vertical-align: middle;
    }

    th {
        background: #999999;
        color: #fff;
        text-align: center;

        &:nth-child(1) {
            width: 172px;
        }
    }

    td {
        text-align: right;
    }

    strong {
        color: #e81919;
        line-height: 1.2;

    }

    span {
        font-size: 13px;
        display: block;
        margin-top: 1px;
    }

}






